/** @format */

.editor-gutenberg-opt-in-dialog {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0;
}

.editor-gutenberg-opt-in-dialog__left {
	background-color: lighten( $gray, 33% );
	width: 33%;
}

.editor-gutenberg-opt-in-dialog__right {
	width: 60%;
}

.editor-gutenberg-opt-in-dialog__left img {
	overflow-y: clip;
}

.editor-gutenberg-opt-in-dialog__close {
	float: right;

	width: 48px;
	height: 49px;
	cursor: pointer;
	color: $gray;

	&:hover {
		color: $gray-dark;
	}
}
