.editor-gutenberg-opt-in-dialog {
	overflow-y: hidden;
}

.editor-gutenberg-opt-in-dialog__left {
	width: 34%;
	float: left;
}

.editor-gutenberg-opt-in-dialog__right {
	width: 66%;
	float: left;
}

.editor-gutenberg-opt-in-dialog__close {
	float: right;

	width: 48px;
	height: 49px;
	cursor: pointer;
	color: $gray;

	&:hover {
		color: $gray-dark;
	}
}