.editor-gutenberg-opt-in__dialog {
	overflow-y: hidden;
}

.editor-gutenberg-opt-in__left {
	width: 34%;
	float: left;
}

.editor-gutenberg-opt-in__right {
	width: 66%;
	float: left;
}

.editor-gutenberg-opt-in__sidebar {
	text-align: center;
}